<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unauthorized Access:: Flask Blog App</title>
  
    <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unauthorized Access:: Flask Blog App</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script> 
       
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
           <ul class="nav nav-pills pull-right">
            <li role="presentation" class="btn btn-light"><a href="/">Go Back</a></li>
            <li role="presentation" class="btn btn-light"><a href="/showSignin">Sign In</a></li>
 	    <li role="presentation" class="btn btn-light"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>"ERROR:{{error}} !!!"</h1>
        <h2>Signin or Signup for Access</h2>        
      </div>
      
      <footer class="footer">
        <p>©copyright</p>
      </footer>

    </div>
  </body>
</html>