<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Blog App</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="btn btn-light"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Blog App</h1>
            <p class="lead"></p>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Blog 1</h4>
                <p>No man has a good enough memory to be a successful liar - Abraham Lincoln</p>
 
                <h4>Blog 2</h4>
                <p>A successful man is one who makes more money than his wife can spend. A successful woman is one who can find such a man.</p>
 
                <h4>Blog 3</h4>
                <p>I can resist everything except temptation.</p>

            <br>
            <hr>

            <div class="col-lg-6">
                <h4>Blog 1</h4>
                <p>No man has a good enough memory to be a successful liar - Abraham Lincoln</p>
 
                <h4>Blog 2</h4>
                <p>A successful man is one who makes more money than his wife can spend. A successful woman is one who can find such a man.</p>
 
                <h4>Blog 3</h4>
                <p>I can resist everything except temptation.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>©copyright</p>
        </footer>
 
    </div>
</body>
 
</html>
